# Core ML and Data Science
streamlit 
pandas
numpy
scikit-learn==1.6.1
xgboost>=3.0.0
lightgbm
joblib


# F1 Data and Visualization
fastf1==3.5.3
matplotlib
plotly
seaborn

# Optimization and Progress
optuna
tqdm


# Additional ML Dependencies
scipy
threadpoolctl

